In [1]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [2]:
conn = sqlite3.connect("../Data/products.db")
df = pd.read_sql_query("SELECT * FROM Products", conn)
conn.close()

df.head()

,product_id,name,price,brand,type,color,category_id,cluster_id_no_price
0,1,Laptop HP 15,1200.0,HP,Laptop,Silver,1,None
1,2,Gaming Mouse,45.0,Logitech,Mouse,Black,1,None
2,3,Red Lipstick,25.0,Maybelline,Lipstick,Red,2,None
3,4,Foundation Cream,60.0,L'Oréal,Foundation,Beige,2,None
4,5,Office Desk,350.0,IKEA,Desk,Brown,3,None